:root
{
    --mobile-size :375px;
    --descktop-size:1440px;
    --very-dark-blue: hsl(238, 29%, 16%);
    --soft-red:hsl(14, 88%, 65%);
    --soft-violet:hsl(273, 75%, 66%);
    --soft-blue:hsl(240, 73%, 65%);
    --very-dark-grayish-blue:hsl(237, 12%, 33%);
    --dark-grayish-blue:hsl(240, 6%, 50%);
    --light-grayish-blue:hsl(240, 5%, 91%);

    font-size:16px;
    background-image:linear-gradient(var(--soft-violet),
    var(--soft-blue));
}
*,*::before,*::after
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body
{
    color:var(--very-dark-grayish-blue);
    font-family: 'Kumbh Sans', sans-serif;
}
button
{
    background-color: inherit;
    border:none;
    cursor: pointer;
}